* {
    font-family: 'Roboto';
}

body {
    margin: 0px;
}

.nav {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: 5px;
}

.top {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.top-left {
    margin: 50px 50px;
}

.top-left > h1 {
    font-size: 48px;
}

.top-left > p {
    font-size: 18px;
    color: #EFE7EB;
}

.top-left > button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.top-right > img {
    width: 300px;
    height: auto;
}

.middle {
    text-align: center;
    height: 300px;
}

.middle > h1 {
    margin: 40px 40px;
}

.middle > .boxes {
    display: flex;
    justify-content: space-around;
}

.boxes img {
    width: 150px;
    height: auto;
    border-radius: 20px;
    border: 3px solid #3882F6;
}

.bottom {
    background-color: #E5E7EB;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom > .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.bottom > .author {
    font-size: 18px;
    font-weight: bold;
}

.cta {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-box {
    padding: 25px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
}

.cta-left {
    padding: 30px;
}

.cta-right {
    padding: 30px;
}

.cta-left > h1 {
    font-size: 18px;
    color: white;
}

.cta-left > p {
    color: white;
}

.cta-right > button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
}

footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}